keyboard/MegaXE-keyboard-backups
board/kicad/tonnere/tonnere-backups
.history
keyboard/Models
plate/MegaXE-plate-backups
keyboard/production/backups
*.FCBak
keyboard/Badge/Badge-backups
*.lck
*.af~lock~
.vscode
